<div class="header-container">
  <div class="logo" (click)="goToHome()"><mat-icon>home</mat-icon></div>
  <div class="categories" (click)="goToCategories()"><mat-icon>reorder</mat-icon></div>
  <!-- <button class="toggle-button" (click)="toggleSideNav()">
    Toggle Side Nav
  </button> -->
  <div class="logout" (click)="open()">Add Product</div>

  <!-- Side navigation -->
  <div class="sidenav" *ngIf="showSideNav">
    <div *ngFor="let category of categories">
      <mat-card-actions (onClick)="getInCategories()" class="card-actions">
        <button mat-button color="primary">
          {{ category }}
        </button>
      </mat-card-actions>
    </div>
  </div>
</div>
