.header-container {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid black;
  padding: 0 25px;

  .right-header-nav {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .main-icon {
    color: black;
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

.add-product-container {
  display: flex;
  font-size: 18px;
  font-weight: light;
  cursor: pointer;
  margin-right: 31px;
  justify-content: center;
  align-items: center;
}
.side-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 85vh;
}
.main-name {
  text-decoration: none;
  color: black;
  font-weight: light;
  font-size: 30px;
  display: flex;
  align-items: center;
  gap: 2px;
  cursor: pointer;
}
.link {
  text-decoration: none;
  color: black;
  font-weight: light;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 2px;
  cursor: pointer;
}
.sidebar {
  height: 90vh;
}
