<div class="main-container">
  <div class="child-container">
    <img src="../../assets/login/undraw_web_shopping_re_owap.svg" alt="" />
  </div>
  <div class="child-container">
    <h2 class="main-header">Welcome to themAll</h2>
    <h5 class="sub-header">Type your email/username and password to log in</h5>
    <form
      class="login-form"
      #loginForm="ngForm"
      (ngSubmit)="loginDetailSubmit(loginForm)"
    >
      <mat-form-field appearance="outline">
        <mat-label>Username or Email</mat-label>
        <!--Conditionally have type so that validations also switch-->
        <input
          matInput
          type="text"
          class="input"
          name="loginId"
          #loginId="ngModel"
          ngModel
          required
        />
        <mat-hint>
          <small *ngIf="loginId.invalid && loginId.touched">
            Email/Username is a required field
          </small>
        </mat-hint>
      </mat-form-field>
      <!-- Password input field -->
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          class="input"
          name="password"
          #password="ngModel"
          ngModel
          required
        />
        <mat-hint>
          <small *ngIf="password.invalid && password.touched">
            Password is a required field
          </small></mat-hint
        >
      </mat-form-field>

      <p>
        Don't have an account?
        <a style="color: #ff0000; text-decoration: none" href="create-account"
          >click here</a
        >
      </p>
      <button type="submit">Log in</button>
    </form>
  </div>
</div>
