<div *ngIf="!productId_Quantity; else cartBlock">
  <mat-card class="empty-cart">
    <mat-card-content class="empty-cart-content">
      Your cart is currenty empty
    </mat-card-content>
  </mat-card>
</div>

<ng-template #cartBlock>
  <div class="cart-block">
    <h2>My cart</h2>
    <div class="cart-container">
      <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Product Image Column -->
        <ng-container matColumnDef="image">
          <mat-header-cell *matHeaderCellDef>Product Image</mat-header-cell>
          <mat-cell *matCellDef="let product" class="cart-cell">
            <img
              src="{{ product.image }}"
              alt=""
              width="150px"
              height="150px"
            />
          </mat-cell>
        </ng-container>

        <!-- Title Column -->
        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef> Product </mat-header-cell>
          <mat-cell *matCellDef="let product" class="cart-cell">
            {{ product.title }}
          </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="price">
          <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
          <mat-cell *matCellDef="let product" class="cart-cell">
            {{ product.price * 130 | currency : "Ksh " }}
          </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="quantity">
          <mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
          <mat-cell *matCellDef="let product" class="cart-cell">
            <button (click)="lessQuantity(product)">
              <mat-icon>remove</mat-icon>
            </button>
            <label class="quantity-label">{{ product.quantity }}</label>
            <button (click)="addQuantity(product)">
              <mat-icon>add</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <!-- Total Column -->
        <ng-container matColumnDef="total">
          <mat-header-cell *matHeaderCellDef class="total-cell">
            Total =
            {{ getTotal(dataSource) * 130 | currency : "ksh" }}</mat-header-cell
          >
          <mat-cell *matCellDef="let product" class="cart-cell">
            {{ product.price * 130 * product.quantity | currency : "ksh" }}
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </div>
  </div>
</ng-template>
