.empty-cart {
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  top: 30%;
}

.empty-cart-content {
  font-size: 50px;
}

.cart-block {
  padding-bottom: 2rem;
}

h2 {
  text-align: center;
  margin-top: 1rem;
  font-size: xx-large;
}

.cart-container {
  position: relative;
  top: 2%;
  width: 85%;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.cart-cell {
  padding: 15px;
}
.quantity-label {
  background-color: #efbc9b;
  padding: 10px;
  border-radius: 12px;
  text-align: center;
}
.total-cell {
  font-size: large;
  font-weight: bold;
}
button {
  background-color: white;
  border: none;
  cursor: pointer;
}
