<div class="form-container">
  <h1>{{ updateMode ? "Update user" : "Create a user" }}</h1>

  <mat-stepper linear>
    <!-- First step -->
    <mat-step [stepControl]="personalDetails">
      <form *ngIf="personalDetails" [formGroup]="personalDetails">
        <ng-template matStepLabel> Fill out your personal details </ng-template>

        <div class="input-container">
          <div class="paired-inputs">
            <!-- First Name input -->
            <mat-form-field appearance="outline">
              <mat-label>First Name</mat-label>
              <input
                matInput
                type="text"
                formControlName="firstName"
                class="input-field"
              />
              <mat-hint
                *ngIf="
                  personalDetails.get('firstName')?.touched &&
                  personalDetails.get('firstName')?.invalid
                "
                class="hint"
              >
                First Name is a required field
              </mat-hint>
            </mat-form-field>

            <!-- Last Name input -->
            <mat-form-field appearance="outline">
              <mat-label>Last Name</mat-label>
              <input matInput type="text" formControlName="lastName" />
              <mat-hint
                *ngIf="
                  personalDetails.get('lastName')?.touched &&
                  personalDetails.get('lastName')?.invalid
                "
                class="hint"
              >
                Last Name is a required field
              </mat-hint>
            </mat-form-field>
          </div>
          <div class="paired-inputs">
            <!-- Username input -->
            <mat-form-field appearance="outline">
              <mat-label>Username</mat-label>
              <input matInput type="text" formControlName="userName" />
              <mat-hint
                *ngIf="
                  personalDetails.get('userName')?.touched &&
                  personalDetails.get('userName')?.invalid
                "
                class="hint"
              >
                Username is a required field
              </mat-hint>
            </mat-form-field>

            <!-- Email input -->
            <div class="email-container">
              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email" />
              </mat-form-field>
              <div
                *ngIf="
                personalDetails.get('email')?.touched &&
                !personalDetails.get('email')?.errors?.['email'] &&
                personalDetails.get('email')?.invalid
              "
                class="hint"
              >
                Email is a required field
              </div>
              <div
                *ngIf="
                personalDetails.get('email')?.touched &&
                personalDetails.get('email')?.errors?.['email'] && personalDetails.get('email')?.invalid
              "
                class="hint"
              >
                Email is invalid
              </div>
            </div>
          </div>
        </div>
        <div class="firststep-button-container">
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <!-- Second Step -->
    <mat-step *ngIf="geographicalDetails" [stepControl]="geographicalDetails">
      <form [formGroup]="geographicalDetails">
        <ng-template matStepLabel>
          Enter phone number, password and geographical details
        </ng-template>

        <div class="input-container">
          <div class="paired-inputs">
            <!-- Phone Number input -->
            <mat-form-field appearance="outline">
              <mat-label>Phone Number</mat-label>
              <input matInput type="tel" formControlName="phoneNumber" />
              <mat-hint
                *ngIf="
                  geographicalDetails.get('phoneNumber')?.touched &&
                  geographicalDetails.get('phoneNumber')?.invalid
                "
                class="hint"
              >
                Phone Number is a required field
              </mat-hint>
            </mat-form-field>

            <!-- Password input -->
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput type="password" formControlName="password" />
              <mat-hint
                *ngIf="
                  geographicalDetails.get('password')?.invalid &&
                  geographicalDetails.get('password')?.touched
                "
                class="hint"
                >Password is a required field</mat-hint
              >
            </mat-form-field>
          </div>

          <div class="paired-inputs">
            <!-- Latitude input -->
            <mat-form-field appearance="outline">
              <mat-label>Latitude</mat-label>
              <input matInput type="text" formControlName="latitude" />
              <mat-hint
                *ngIf="
                  geographicalDetails.get('latitude')?.invalid &&
                  geographicalDetails.get('latitude')?.touched
                "
                class="hint"
                >Latitude is a required field
              </mat-hint>
            </mat-form-field>

            <!-- Longitude input -->
            <mat-form-field appearance="outline">
              <mat-label>Longitude</mat-label>
              <input matInput type="text" formControlName="longitude" />
              <mat-hint
                *ngIf="
                  geographicalDetails.get('longitude')?.touched &&
                  geographicalDetails.get('latitude')?.invalid
                "
                class="hint"
              >
                Longitude is a required field
              </mat-hint>
            </mat-form-field>
          </div>
        </div>
        <div class="button-container">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <!-- Third step -->
    <mat-step *ngIf="locationDetails" [stepControl]="locationDetails">
      <form [formGroup]="locationDetails">
        <ng-template matStepLabel> Enter location details </ng-template>
        <div class="input-container">
          <div class="paired-inputs">
            <!-- City input  -->
            <mat-form-field appearance="outline">
              <mat-label>City</mat-label>
              <input matInput type="text" formControlName="city" />
              <mat-hint
                *ngIf="
                  locationDetails.get('city')?.invalid &&
                  locationDetails.get('city')?.touched
                "
                class="hint"
              >
                City is a required field
              </mat-hint>
            </mat-form-field>

            <!-- Street input -->
            <mat-form-field appearance="outline">
              <mat-label>Street</mat-label>
              <input matInput type="text" formControlName="street" />
              <mat-hint
                *ngIf="
                  locationDetails.get('street')?.invalid &&
                  locationDetails.get('street')?.touched
                "
                class="hint"
              >
                Street is a required field
              </mat-hint>
            </mat-form-field>
          </div>
          <div class="paired-inputs">
            <!-- Address input -->
            <mat-form-field appearance="outline">
              <mat-label>Address Number</mat-label>
              <input matInput type="number" formControlName="number" />
              <mat-hint
                *ngIf="
                  locationDetails.get('number')?.touched &&
                  locationDetails.get('number')?.invalid
                "
                class="hint"
              >
                Address Number is a required field
              </mat-hint>
            </mat-form-field>

            <!-- Zipcode input -->
            <mat-form-field appearance="outline">
              <mat-label>Zip code</mat-label>
              <input matInput type="text" formControlName="zipCode" />
              <mat-hint
                *ngIf="
                  locationDetails.get('zipCode')?.invalid &&
                  locationDetails.get('zipCode')?.touched
                "
                class="hint"
              >
                Zip Code is a required field
              </mat-hint>
            </mat-form-field>
          </div>
        </div>
        <div class="button-container">
          <button
            mat-stroked-button
            color="primary"
            class="form-button"
            (click)="submitForm()"
          >
            Submit
          </button>
          <button
            mat-stroked-button
            color="primary"
            class="form-button"
            (click)="resetForm()"
          >
            Clear Form
          </button>
        </div>
      </form>
    </mat-step>
  </mat-stepper>
</div>
