<div class="form-container">
  <h1>Create a user</h1>
  <form *ngIf="myGroup" [formGroup]="myGroup" (ngSubmit)="submitForm()">
    <div style="display: flex" class="geo-personal-container">
      <div class="personal-details">
        <h4>Personal Details:</h4>
        <div class="names-container">
          <!-- First Name input -->
          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput type="text" formControlName="firstName" />
            <mat-hint
              *ngIf="
                myGroup.get('firstName')?.touched &&
                myGroup.get('firstName')?.invalid
              "
              class="hint"
            >
              First Name is a required field
            </mat-hint>
          </mat-form-field>

          <!-- Last Name input -->
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput type="text" formControlName="lastName" />
            <mat-hint
              *ngIf="
                myGroup.get('lastName')?.touched &&
                myGroup.get('lastName')?.invalid
              "
              class="hint"
            >
              Last Name is a required field
            </mat-hint>
          </mat-form-field>

          <!-- Username input -->
          <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput type="text" formControlName="userName" />
            <mat-hint
              *ngIf="
                myGroup.get('userName')?.touched &&
                myGroup.get('userName')?.invalid
              "
              class="hint"
            >
              Username is a required field
            </mat-hint>
          </mat-form-field>
        </div>

        <div class="channel-tabs">
          <!-- Email input -->
          <div class="email-container">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput type="email" formControlName="email" />
            </mat-form-field>
            <div
              *ngIf="
                myGroup.get('email')?.touched &&
                !myGroup.get('email')?.errors?.['email'] &&
                myGroup.get('email')?.invalid
              "
              class="hint"
            >
              Email is a required field
            </div>
            <div
              *ngIf="
                myGroup.get('email')?.touched &&
                myGroup.get('email')?.errors?.['email'] && myGroup.get('email')?.invalid
              "
              class="hint"
            >
              Email is invalid
            </div>
          </div>

          <!-- Phone Number input -->
          <mat-form-field appearance="outline">
            <mat-label>Phone Number</mat-label>
            <input matInput type="tel" formControlName="phoneNumber" />
            <mat-hint
              *ngIf="
                myGroup.get('phoneNumber')?.touched &&
                myGroup.get('phoneNumber')?.invalid
              "
              class="hint"
              >Phone Number is a required field</mat-hint
            >
          </mat-form-field>

          <!-- Password input -->
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" />
            <mat-hint
              *ngIf="
                myGroup.get('password')?.invalid &&
                myGroup.get('password')?.touched
              "
              class="hint"
              >Password is a required field</mat-hint
            >
          </mat-form-field>
        </div>
      </div>

      <div class="geo-details">
        <h4>Geographical Details:</h4>
        <!-- Latitude input -->
        <mat-form-field appearance="outline">
          <mat-label>Latitude</mat-label>
          <input matInput type="text" formControlName="latitude" />
          <mat-hint
            *ngIf="
              myGroup.get('latitude')?.invalid &&
              myGroup.get('latitude')?.touched
            "
            class="hint"
            >Latitude is a required field
          </mat-hint>
        </mat-form-field>

        <!-- Longitude input -->
        <mat-form-field appearance="outline">
          <mat-label>Longitude</mat-label>
          <input matInput type="text" formControlName="longitude" />
          <mat-hint
            *ngIf="
              myGroup.get('longitude')?.touched &&
              myGroup.get('latitude')?.invalid
            "
            class="hint"
          >
            Longitude is a required field
          </mat-hint>
        </mat-form-field>
      </div>
    </div>

    <div class="location-details">
      <h4>Location Details:</h4>
      <div class="location-data-container">
        <!-- City input -->
        <mat-form-field appearance="outline">
          <mat-label>City</mat-label>
          <input matInput type="text" formControlName="city" />
          <mat-hint
            *ngIf="myGroup.get('city')?.invalid && myGroup.get('city')?.touched"
            class="hint"
          >
            City is a required field
          </mat-hint>
        </mat-form-field>

        <!-- Street input -->
        <mat-form-field appearance="outline">
          <mat-label>Street</mat-label>
          <input matInput type="text" formControlName="street" />
          <mat-hint
            *ngIf="
              myGroup.get('street')?.invalid && myGroup.get('street')?.touched
            "
            class="hint"
          >
            Street is a required field
          </mat-hint>
        </mat-form-field>

        <!-- Address input -->
        <mat-form-field appearance="outline">
          <mat-label>Address Number</mat-label>
          <input matInput type="number" formControlName="number" />
          <mat-hint
            *ngIf="
              myGroup.get('number')?.touched && myGroup.get('number')?.invalid
            "
            class="hint"
          >
            Address Number is a required field
          </mat-hint>
        </mat-form-field>

        <!-- Zipcode input -->
        <mat-form-field appearance="outline">
          <mat-label>Zip code</mat-label>
          <input matInput type="text" formControlName="zipCode" />
          <mat-hint
            *ngIf="
              myGroup.get('zipCode')?.invalid && myGroup.get('zipCode')?.touched
            "
            class="hint"
          >
            Zip Code is a required field
          </mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div class="button-container">
      <button
        mat-stroked-button
        color="primary"
        class="form-button"
        [disabled]="myGroup.invalid"
      >
        Submit
      </button>
      <button
        mat-stroked-button
        color="primary"
        class="form-button"
        (click)="resetForm()"
      >
        Clear Form
      </button>
    </div>
  </form>
</div>
